*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
legend {
    font-weight: bold; /* Define o texto da legenda em negrito */
}

body{
    background-color: azure;
    background: url('https://wallpaperaccess.com/full/1330484.jpg'), #507090;
    line-height: 1.3;
}
h1{
    font-size: 2em;
}

p{
    justify-items: auto;
}
.paginaConteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    padding: 40px;
    background: linear-gradient(
    100deg, 
    #FFFFFFC0 0%, 
    #F0FAFFC0 25%, 
    #F0FAFFC0 75%, 
    #FFFFFFC0 100%);
    border: 2px solid gray;
    border-radius: 5%;
    box-shadow: 0 0 1em #000000;
}
.termoConteiner{
    text-align: justify; /* Adicionando justificação de texto */
}

.paginaTermoConteiner{
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 40px;
    background: linear-gradient(
    100deg, 
    #FFFFFFC0 0%, 
    #F0FAFFC0 25%, 
    #F0FAFFC0 75%, 
    #FFFFFFC0 100%);
    border: 2px solid gray;
    border-radius: 5%;
    box-shadow: 0 0 1em #000000;
}
@media(min-width:720px){
    .paginaConteiner{
        margin: 100px 200px ; 
    }
}
@media(min-width:1024px){
    .paginaConteiner{
        margin: 100px 400px ; 
    }
}
@media(min-width:1500px){
    .paginaConteiner{
        margin: 100px 500px ; 
    }
}
@media(min-width:2000px){
    .paginaConteiner{
        margin: 100px 800px ; 
    }
}

@media(min-width:720px){
    .paginaTermoConteiner{
        margin: 100px 200px ; 
    }
}
@media(min-width:1024px){
    .paginaTermoConteiner{
        margin: 100px 400px ; 
    }
}
@media(min-width:1500px){
    .paginaTermoConteiner{
        margin: 100px 500px ; 
    }
}
@media(min-width:2000px){
    .paginaTermoConteiner{
        margin: 100px 800px ; 
    }
}

.areasInteresseOpcoesConteiner {
    padding: 10px;
    border: 2px solid gray;
    margin: 2px;

    display: flex;
    flex-direction: column;
    /* justify-content: start; ALINHA NO MAIN AXIS - DEPENDE DO FLEX-DIRECTION */
    align-items: start; /*ALINHA NO CORSS AXIS - DEPENDE DO FLEX-DIRECTION*/
    /* flex-wrap: wrap; */
    row-gap: 4px;
}
.areasInteresseContainer {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;

    display: flex;
    flex-direction: column;
    /* justify-content: start; ALINHA NO MAIN AXIS - DEPENDE DO FLEX-DIRECTION */
    align-items: start; /*ALINHA NO CORSS AXIS - DEPENDE DO FLEX-DIRECTION*/
    /* flex-wrap: wrap; */
    row-gap: 4px;
}
.InteresseOptionConteiner {
     width: 20%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .inputDadosPessoaisConteiner {
    padding: 10px;
    border: 2px solid gray;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Corrigido o comentário -- para - */
}

.inputDadosPessoaisConteiner input[type="text"],
.inputDadosPessoaisConteiner input[type="email"],
.inputDadosPessoaisConteiner input[type="date"],
.inputDadosPessoaisConteiner select {
    width: 75%; /* Define a largura dos inputs e select para 100% do espaço disponível */
}
 .botaoEnviar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ff88002a; /* Cor de fundo do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5%; /* Torna o botão redondo */
    padding: 10px; /* Adiciona espaço ao redor do ícone */
    cursor: pointer; /* Define o cursor como ponteiro para indicar que é clicável */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave de cor de fundo */
}

.botaoEnviar:hover {
    background-color: #b36b002d; /* Cor de fundo do botão quando o mouse passa por cima */
}

.botaoEnviar img {
    width: 24px; /* Ajusta o tamanho do ícone */
    height: 24px;
    vertical-align: middle; /* Alinha verticalmente o ícone */
}
.botaoVoltarTermoParaPesquisa{
    width: 200px; /* Ajusta o tamanho do ícone */
    height: 30px;
}

.motivacaoParticiparConteiner {
    margin-bottom: 20px; /* Adiciona um espaço entre os contêineres */
}

.motivacaoParticiparConteiner label {
    display: block; /* Faz com que o label seja exibido em uma linha separada */
    margin-bottom: 5px; /* Adiciona um espaço entre o label e o textarea */
}

.motivacaoParticiparConteiner textarea {
    width: 100%; /* Define a largura do textarea para ocupar todo o espaço disponível */
    padding: 5px; /* Adiciona um espaço interno ao textarea */
    border: 1px solid #ccc; /* Adiciona uma borda ao textarea */
    border-radius: 5px; /* Adiciona um arredondamento às bordas do textarea */
}

